#intro{
    color: blueviolet;
}

.codigo{
    color: red;
}

.designer{
    color: antiquewhite;
}

.azul {
    color: blue;
}

.grande {
    font-size: 32px;
}

.sublinhado{
    text-decoration: underline;
}